@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  color: #e5e5e5;
  font-family: 'Vazirmatn', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
